* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "MTS Wide";
  src: local("MTS Wide"), url(./MTSWide-Medium.212f2c28e404c7c5dee7.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MTS Text";
  src: local("MTS Text"), url(./MTSText-Regular.c5426838a3c9abc67231.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgb(240, 241, 246);
}

.aWmFTUVTDeHSBzH1QALH {
  display: flex;
  width: 100vw;
  max-width: 100%;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 18.88%;
  max-width: 258px;
  background-color: rgb(29, 32, 35);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .b0vQjC7sDdarU5wE00QA {
  margin-top: 55.5px;
  margin-left: 40px;
  width: 100%;
  max-width: 172px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .b0vQjC7sDdarU5wE00QA .vs68nSIxr4IKUS166VMr {
  margin-left: 16px;
  font-family: "MTS Wide";
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .zNBxZv2BKmnsfwIlQSH_ {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
  width: 84.49%;
  max-width: 218px;
  border: 1px solid rgba(127, 140, 153, 0.35);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w {
  margin-top: 26px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .yOGnF4_LwvrI8bh3POPV {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .yOGnF4_LwvrI8bh3POPV .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .yOGnF4_LwvrI8bh3POPV .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .PaR1eraI74dA5UErAkws {
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .PaR1eraI74dA5UErAkws .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .PaR1eraI74dA5UErAkws .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .XFAe7NcqY45k3TY12_i7 {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .XFAe7NcqY45k3TY12_i7 .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .XFAe7NcqY45k3TY12_i7 .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .XFAe7NcqY45k3TY12_i7 .ZxzxTX2TYap3yJbElGtH {
  margin-top: 2px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .XFAe7NcqY45k3TY12_i7 .ZxzxTX2TYap3yJbElGtH .wnZYIdwClAL6XTl3mEN4 {
  margin-top: 2px;
  width: 5.7px;
  height: 10px;
  margin-left: 10px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .CqixiIem_3nD_5FfY_RS {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .CqixiIem_3nD_5FfY_RS .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .CqixiIem_3nD_5FfY_RS .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .M_IJeJxkfg82S6RBHE3B {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .M_IJeJxkfg82S6RBHE3B .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .M_IJeJxkfg82S6RBHE3B .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .EuUyTLj_4Ka0Fg6iw58Z {
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .EuUyTLj_4Ka0Fg6iw58Z .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .EuUyTLj_4Ka0Fg6iw58Z .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .N8eRUAapNHgotx7vtCdQ {
  margin-top: 33.5%;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .N8eRUAapNHgotx7vtCdQ .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .N8eRUAapNHgotx7vtCdQ .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .rDl9ZhBhbHZakSf_K7FG {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .rDl9ZhBhbHZakSf_K7FG .lKVIppByeX_iu6SJRX55 {
  width: 24px;
  height: 24px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .WpUWHCJ8tdK9S97H6W_w .rDl9ZhBhbHZakSf_K7FG .Z6SkzlAupNcWdSFEHauH {
  width: 128px;
  margin-left: 20px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .JxoPXK5gzjQHwYMkyM6f {
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 20px;
  width: 84.49%;
  max-width: 218px;
  border: 1px solid rgba(127, 140, 153, 0.35);
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW {
  margin-top: 27px;
  margin-left: 42px;
  margin-bottom: 35px;
  display: flex;
  height: 42px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .g1a3xiziud1tdombEawn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .g1a3xiziud1tdombEawn .KQO5cznXLKFo3VViOt0O {
  border-radius: 12px;
  width: 32px;
  height: 32px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-bottom: 35px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF .D51xFUuqXVY7mWnAmxhb {
  display: flex;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF .D51xFUuqXVY7mWnAmxhb .I5YGePEIUF7PTrDMiqHd {
  width: 129px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF .D51xFUuqXVY7mWnAmxhb .ZxzxTX2TYap3yJbElGtH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF .D51xFUuqXVY7mWnAmxhb .ZxzxTX2TYap3yJbElGtH .Cq_gPDcXxazOneOwClbR {
  margin-top: 5px;
  width: 5.7px;
  height: 10px;
}
.aWmFTUVTDeHSBzH1QALH .kNICsTpNkS23o_Pzreu_ .a1H1mz5Tv51LUEUuQuqW .p3C24afKaO7Dy1XTTBgF .eQqjAGsGwvpdHT146m3p {
  width: 129px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(150, 159, 168);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg {
  margin-left: 258px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti {
  width: 100%;
  height: 153px;
  background-image: url(./footage.d62abef2..png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 58px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS {
  display: flex;
  align-items: center;
  height: 32px;
  width: 54.24%;
  background: white;
  border-radius: 13px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS .VP2Gh_SOSAo5v4KBtl39 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS .VP2Gh_SOSAo5v4KBtl39 .fnXlBNje2Nd1L0NiDPto {
  width: 11px;
  height: 11px;
  margin-left: 23px;
  margin-top: 4px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS .a9bfIeNIAWQKKqV3Ilda {
  margin-left: 15px;
  height: 32px;
  border-radius: 12px;
  border: none;
  width: 100%;
  outline: none !important;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(0, 0, 0);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS .a9bfIeNIAWQKKqV3Ilda::-moz-placeholder {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .lQfubRMaFcVBT4UjEiyS .a9bfIeNIAWQKKqV3Ilda::placeholder {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .zY_8WLhGFKWVyoHz9dti .mqKK9DwGrpAJBlUB7dRI .mJ2P0wNbQVrhE3DtgGDV {
  width: 84px;
  height: 32px;
  border: none;
  border-radius: 12px;
  background-color: rgb(255, 0, 50);
  margin-left: 16px;
  font-family: "MTS Wide";
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP {
  display: flex;
  margin-top: 26px;
  width: 92.77%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv {
  width: 49.22%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .JcJw3EM5y9EtScWaxatE {
  font-family: "MTS Wide";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(29, 32, 35);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .fNDbgNB0VMhht0_1w7uU {
  margin-top: 6px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .rqz0WRtyDiVZ44To9ij2 {
  margin-top: 24px;
  width: 100%;
  background-color: white;
  border-radius: 32px;
  padding: 12px 0 24px 0;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .rqz0WRtyDiVZ44To9ij2 .uKvuXozJV8uVFhPj99yX {
  padding: 12px 24px 0 24px;
  width: 90.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .rqz0WRtyDiVZ44To9ij2 .uKvuXozJV8uVFhPj99yX .yGdyuQQmjugEhgzDJwgK {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .rqz0WRtyDiVZ44To9ij2 .uKvuXozJV8uVFhPj99yX .afAsE92unFtd7R8L0TLY {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .mU5wJNxYHqRtBm5Rh_Nv .rqz0WRtyDiVZ44To9ij2 .uKvuXozJV8uVFhPj99yX .afAsE92unFtd7R8L0TLY .vbOwsYkuzRKcm3YPQT0T {
  width: 11px;
  height: 14px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp {
  margin-left: 16px;
  width: 49.22%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .Z3TXTZxCyUlyT7FtQ9Gz {
  font-family: "MTS Wide";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(29, 32, 35);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .wqtf75_Y9RJic4rjjqLb {
  margin-top: 6px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .xCbgb3NVjtYXWoiQ1pcS {
  margin-top: 24px;
  width: 100%;
  background-color: white;
  border-radius: 32px;
  padding: 12px 0 24px 0;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .xCbgb3NVjtYXWoiQ1pcS .Vpa0eb1zIeO1Y87aHl4r {
  padding: 12px 24px 0 24px;
  width: 90.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .xCbgb3NVjtYXWoiQ1pcS .Vpa0eb1zIeO1Y87aHl4r .JDwOn4_cVcfKvHnwoEl6 {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(0, 112, 229);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .xCbgb3NVjtYXWoiQ1pcS .Vpa0eb1zIeO1Y87aHl4r .PD9j9oN2tDlDXT5bcc7Z {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .aIUT7yfpOjl21llSgug8 .RaZwm1WB6XpPIdCPkjFP .NLF7C10k4FXgpIlUnRJp .xCbgb3NVjtYXWoiQ1pcS .Vpa0eb1zIeO1Y87aHl4r .PD9j9oN2tDlDXT5bcc7Z .jFkUMvVP2jnPG1Pbm47d {
  width: 14px;
  height: 14px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 92.77%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .IfpaIlWsQbIOk46sgfSv {
  font-family: "MTS Wide";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(29, 32, 35);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .jpeLDoPdP8l4O0FTg4Qs {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ {
  display: flex;
  margin-top: 24px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew {
  margin-right: 11px;
  width: 32.58%;
  min-width: 335px;
  height: 80px;
  border-radius: 24px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew:nth-child(1) {
  background: linear-gradient(to right, #5f68b6, #8894e3);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew:nth-child(2) {
  background: linear-gradient(to right, #807fba, #c0b2e0);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew:nth-child(3) {
  background: linear-gradient(to right, #959ed9, #bcd4f8);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew .pg3xicoxia5hJSemGAMJ {
  padding: 16px 16px 0 16px;
  font-family: "MTS Text";
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0px;
  color: white;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .IuvzUe6WBQn0oCwYal1a .llV6fzXVnykDc4mcxLwP .nKLnsTP2w0UFfmZKQEt_ .FHEr5a5_2bpbds96flew .g4oSujggalZ1CYB27ym_ {
  padding: 4px 16px 0 16px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  width: 92.77%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .UL2a3oOmZ5ug4ItsJaGL {
  font-family: "MTS Wide";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(29, 32, 35);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .PqX7okRhCYKA9BJUgsU7 {
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m {
  margin-top: 25px;
  display: flex;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv {
  width: 23.24%;
  height: 260px;
  background-color: white;
  border-radius: 32px;
  margin-right: 24px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 {
  width: 79.91%;
  height: 190px;
  margin: 35px 24px;
  display: flex;
  flex-direction: column;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 .YofmX9xbnSfi_4omC3nd {
  font-family: "MTS Text";
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0px;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 .y4hu9gXSAQznVYKh25rE {
  margin-top: 4px;
  font-family: "MTS Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(98, 108, 119);
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 .ePU7NovhSs9vUdG4WZTk {
  display: flex;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 .ePU7NovhSs9vUdG4WZTk .HOQ3xT2f9EC2NnbKhNdx {
  margin-top: 56px;
  margin-left: 49px;
  font-family: "MTS Wide";
  font-weight: 500;
  font-size: 58.57px;
  line-height: 140%;
  letter-spacing: -5%;
}
.aWmFTUVTDeHSBzH1QALH .YhOggQp6Pciep3l4g1mg .TNFHhqdv2EA84kAGwtmq .Tr6Bby7be1fl_TXGEJtt .QlbUbzCKA5q3tlji7F7m .OI6XEpERAW_kuAnx6eXv .uXKSXjbkjkSuRdKPGmE7 .ePU7NovhSs9vUdG4WZTk .Q5td5bEFdeAz6tAouyqQ {
  width: 25px;
  height: 21px;
  margin-top: 85px;
  margin-left: 5px;
}/*# sourceMappingURL=MainPage.module.css.map */

/*# sourceMappingURL=main.518a8fa6.css.map*/